{% extends 'blog/base.html' %} {% load static %} {% block content %}
<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit eius nemo
    nostrum libero, repellendus facilis ea porro fuga ex. Veritatis provident
    illo, cum inventore sequi officia reprehenderit molestias impedit
    perspiciatis sunt, esse dolores libero nesciunt rerum quibusdam in. Neque
    voluptatum deserunt repellat perferendis explicabo aperiam impedit molestias
    nihil tempora numquam.
  </p>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum dicta odio
    vero illum quod suscipit consectetur excepturi non sed sunt eos architecto
    obcaecati beatae expedita distinctio accusantium accusamus dolor, vitae
    neque. Ex repellat similique facere itaque odit accusamus voluptate
    repellendus quod odio animi, dolor facilis natus, quibusdam voluptatum
    dolores reiciendis!
  </p>
</div>
{% endblock content %}
